.links {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transition: .5s;
  background-color: #0b0812;

  @media (max-width: 1000px) {
    background-image: linear-gradient(to right top, #051937, #004963, #297d81, #76b094, #d0e0ac);
  }
}

.links__container {
  position: absolute;
  top: 50%;
  left: 200px;
  z-index: 11;
  transform: translateY(-50%);

  @media (max-width: 780px) {
    left: 120px;
  }

  @media (max-width: 420px) {
    left: 50px;
  }
}

.links__header {
  font-size: 28px;
  font-family: 'Consolas', 'Arial', sans-serif;
  font-weight: 700;
  color: #fff;
}

.link__item {
  font-size: 20px;

  @media (max-width: 325px) {
    font-size: 16px;
  }
}

.links__link {
  padding-left: 20px;
  color: #ffeeb8;
  transition: .5s;

  @media (max-width: 325px) {
    padding-left: 5px;
    font-size: 12px;
  }
}

.links__link:hover {
  color: #9add40;
  text-decoration: underline;
}

.links p {
  width: 600px;
  color: #ffffff;
}